
  <button id="helpBtn" type="button" class="help-icon">
    <%= image_tag 'question_icon_circle_black.svg', class: 'help-icon'  %>
  </button>

  <%# HELP SECTION STARTS %>
  <div class="help-block">
    <div class="modal-content" id="help-information">
      <div class="arrow_box"></div>
      <div class="modal-header">
        <h3 class="modal-title" id="helpInformation">How it works </h3>
      </div>
      <div class="modal-body">
        <div>
          <%= image_tag "number1.svg" ,class: 'clear-link'%>
          <div class="description poppins-text-10">Choose the length of your hose</div>
        </div>
        <div >
          <%= image_tag "number2.svg" ,class: 'clear-link'%>
          <div class="description poppins-text-10">Choose the color you’d like</div>
        </div>
        <div >
          <%= image_tag "number3.svg" ,class: 'clear-link'%>
          <div class="description poppins-text-10">Choose the fitting type you need</div>
        </div>
        <div >
          <%= image_tag "number4.svg" ,class: 'clear-link'%>
          <div class="description poppins-text-10">
            Submit your order, we’ll build it,then ship it right to your door!
          </div>
        </div>
      </div>
    </div>
    <div class="outside-pointer">
      <div id="number1"><%= image_tag "number1.svg" ,class: 'clear-link'%></div>
      <div id="number2"><%= image_tag "number2.svg" ,class: 'clear-link'%></div>
      <div id="number3"><%= image_tag "number3.svg" ,class: 'clear-link'%></div>
      <div id="number4"><%= image_tag "number3.svg" ,class: 'clear-link'%></div>
      <div id="number5"><%= image_tag "number4.svg" ,class: 'clear-link'%></div>
    </div>
  </div>
  <%# HELP SECTION ENDS %>

# touched on 2025-07-09T17:29:21.356358Z
# touched on 2025-07-09T18:28:06.844886Z
# touched on 2025-07-09T19:38:39.622089Z