<table class="table">
  <thead>
    <tr>
      <th></th>
      <th><%= t('spree.name') %></th>
      <th><%= t('spree.discount_type') %></th>
      <th><%= t('spree.range') %></th>
      <th><%= t('spree.amount') %></th>
      <th><%= t('spree.position') %></th>
      <th><%= t('spree.role') %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody id="volume_prices">
    <%= f.fields_for :volume_prices do |vp_form| %>
      <%= render partial: 'spree/admin/volume_prices/volume_price_fields', locals: { f: vp_form } %>
    <% end %>
  </tbody>
</table>

<span id="new_add_volume_price" data-hook>
  <%= link_to t(:add_volume_price, scope: :spree), 'javascript:;', {
    data: { target: 'tbody#volume_prices' },
    class: 'btn btn-primary spree_add_fields',
    id: 'add_volume_price'
  } %>
</span>

# touched on 2025-07-09T17:29:35.821695Z
# touched on 2025-07-09T18:15:10.492688Z
# touched on 2025-07-09T18:25:31.755222Z
# touched on 2025-07-09T20:53:49.344192Z
# touched on 2025-07-09T21:01:29.051770Z
# touched on 2025-07-09T21:22:54.607098Z